/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Image */
  .head-image img {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Typography */
  h1 {
    font-family: 'Young Serif', serif;
    font-size: 24px;
    color: hsl(24, 5%, 18%);
    margin: 15px 0;
  }
  
  h2, h3 {
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Lists */
  ul, ol {
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Preparation Time Box */
  .preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .preparation-time h3 {
    color: hsl(332, 51%, 32%);
  }
  
  .preparation-time li {
    font-weight: 600;
  }
  
  /* separator*/
  .ingredients,
  .instructions{
    position: relative;
    padding-bottom: 10px;
  }

  .ingredients::before,
  .instructions::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: hsl(30, 18%, 87%);
    position: absolute;
    left: 0;
    bottom: 0;
  }

  /* Nutrition Table */
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
  }

  tr:not(:last-of-type) td {
    border-bottom: 1px solid hsl(30, 18%, 87%);
  }
  
  td:first-child {
    color: hsl(30, 10%, 34%);
  }
  
  td:last-child {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
  }